@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html, body {
    width: 100vw;
    height: 100vh;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;   
}

#view {
    margin-top: 30px;
}

#mazeContainer {
    top: 15px;
    opacity: 0;
    display: inline-block;
    margin: auto;
    border-radius: 10px;
}

#mazeContainer #mazeCanvas {
    margin: 0;
    display: block;
    border: solid 2px #000;
    height: 400px;
}

input, select {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
    height: 45px;
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    appearance: none;
}

input:hover, select:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

input:active, select:active {
    background-color: #000;
}

input:focus, select:focus {
    outline: none;
}