@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html, body {
    width: 100vw;
    height: 100vh;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;   
}

#view {
    margin-top: 30px;
}

#mazeContainer {
    top: 15px;
    opacity: 0;
    display: inline-block;
    margin: auto;
    border-radius: 10px;
}

#mazeContainer #mazeCanvas {
    margin: 0;
    display: block;
    border: solid 3px #000;
    height: 400px;
}

input{
    cursor: pointer;
    background-color: #14A44D;
    height: 45px;
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    appearance: none;
}

select {
    cursor: pointer;
    background-color: #1e88e5 ;
    height: 45px;
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    appearance: none;
}

input:active{
    background-color: #14A44D ;
}

input:focus, select:focus {
    outline: none;
}

.custom-select {
    display: inline-block;
}

.custom-select select {
    appearance: none;
    background-repeat: no-repeat;
    background-position: 125px center;
}

#message-container {
    visibility: hidden;
    color: #000;
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    z-index: 1;
}

#message-container #message {
    width: 300px;
    height: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -150px;
}

#page {
    text-align: center;
    height: auto;
    width: auto;
    margin: auto;
}

#page #menu {
    margin: auto;
    padding: 10px;
    height: 65px;
    box-sizing: border-box;
}

#page #menu h1 {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 3.2rem;
}

#page #view {
    position: absolute;
    top: 65px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
}

.border {
    border: 30px #000 solid;
    border-radius: 20px;
}

#instructions {
    font-size: larger;
    margin-top: 430px;
}

@media only screen and (max-width: 400px) {
    input, select {
        width: 120px;
    }
}